In [1]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
from datetime import datetime

In [2]:
df1 = pd.read_csv('.\\data\\binance-BTCUSDT-1m.csv')

In [3]:
df1

,Timestamp,Open,High,Low,Close,N/A,Timestamp End,N/A.1,N/A.2,N/A.3,N/A.4,N/A.5,Time_UTC_Start
0,1531910040000,7394.60,7394.60,7382.07,7385.00,27.539346,1531910099999,2.034712e+05,217,10.883414,8.040716e+04,0,2018-07-18 10:34:00
1,1531910100000,7385.00,7385.00,7378.27,7379.18,16.894401,1531910159999,1.247068e+05,184,10.320014,7.618136e+04,0,2018-07-18 10:35:00
2,1531910160000,7378.27,7379.18,7370.00,7372.47,44.158140,1531910219999,3.256312e+05,229,21.079610,1.554834e+05,0,2018-07-18 10:36:00
3,1531910220000,7370.03,7377.00,7367.22,7373.95,46.129979,1531910279999,3.399929e+05,300,33.766038,2.488708e+05,0,2018-07-18 10:37:00
4,1531910280000,7373.95,7374.00,7369.33,7370.00,11.282937,1531910339999,8.318349e+04,142,7.941090,5.855096e+04,0,2018-07-18 10:38:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1999995,1651909740000,35920.00,35923.50,35913.03,35913.04,12.096760,1651909799999,4.345057e+05,388,7.151330,2.568724e+05,0,2022-05-07 07:49:00
1999996,1651909800000,35913.04,35922.47,35913.03,35922.46,24.311140,1651909859999,8.731911e+05,575,9.917070,3.561851e+05,0,2022-05-07 07:50:00
1999997,1651909860000,35922.46,35950.19,35922.46,35940.01,72.302490,1651909919999,2.598789e+06,782,32.884100,1.181822e+06,0,2022-05-07 07:51:00
1999998,1651909920000,35940.01,35956.51,35940.00,35956.51,44.738440,1651909979999,1.608394e+06,517,38.371650,1.379504e+06,0,2022-05-07 07:52:00
1999999,1651909980000,35956.51,35956.51,35951.68,35951.69,25.641930,1651910039999,9.219533e+05,408,19.083780,6.861597e+05,0,2022-05-07 07:53:00

In [15]:
def label(df, t):
    int_num = df.shape[0] //t
    start_index = df.shape[0] -int_num *t
    df = df[start_index:]
    grouped_single  = df.groupby(np.arange(len(df))//15).agg({'Timestamp': 'min', 'Open': 'first', 'High' : 'max', 'Low' : 'min', 'Close' : 'last',
                                              'N/A' : 'sum', 'Timestamp End' : 'max', 'N/A.1' : 'sum', 'N/A.2' : 'sum', 'N/A.3' : 'sum',
                                              'N/A.4' : 'sum', 'N/A.5' : 'sum', 'Time_UTC_Start': 'first'})
    length = grouped_single.shape[0]
    op = grouped_single['Open'].values.reshape(length,1)
    cl = grouped_single['Close'].values.reshape(length,1)
    l = np.ones((length, 1)) * (op < cl)
    grouped_single['label'] = l
    grouped_single.rename(columns = {"N/A" : "Volume", "N/A.1" : "Quote_asset_volume", "N/A.2": "Number_of_trades", "N/A.3" : "Base_asset_volume",
                                    "N/A.4" : "Quote_asset_volume", "N/A.5" : "Ignore"}, inplace = True)
    grouped_single.index = grouped_single["Timestamp"]
    grouped_single.drop(columns = ["Timestamp", "Ignore"], inplace = True)
    
    return grouped_single

In [16]:
df3 = label(df1, 15)
df4 = label(df1, 15)

In [17]:
df3

,Open,High,Low,Close,Volume,Timestamp End,Quote_asset_volume,Number_of_trades,Base_asset_volume,Quote_asset_volume,Time_UTC_Start,label
Timestamp,,,,,,,,,,,,
1531910340000,7370.00,7404.23,7365.10,7402.13,421.446875,1531911239999,3.112218e+06,2210,244.531743,1.805624e+06,2018-07-18 10:39:00,1.0
1531911240000,7404.23,7419.09,7393.03,7398.00,400.220193,1531912139999,2.963666e+06,2825,217.698269,1.612081e+06,2018-07-18 10:54:00,0.0
1531912140000,7397.00,7413.67,7388.97,7401.99,283.424582,1531913039999,2.097944e+06,2022,158.367674,1.172256e+06,2018-07-18 11:09:00,1.0
1531913040000,7401.99,7433.32,7395.00,7430.33,385.377189,1531913939999,2.858399e+06,2194,230.656692,1.711215e+06,2018-07-18 11:24:00,1.0
1531913940000,7430.33,7433.58,7408.07,7418.00,412.557017,1531914839999,3.061536e+06,2352,231.403556,1.717226e+06,2018-07-18 11:39:00,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
1651905540000,35858.19,35878.00,35795.54,35795.55,231.841700,1651906439999,8.311628e+06,5817,86.377500,3.096591e+06,2022-05-07 06:39:00,0.0
1651906440000,35795.54,35832.12,35790.02,35812.80,154.689420,1651907339999,5.539456e+06,5981,91.672010,3.282832e+06,2022-05-07 06:54:00,1.0
1651907340000,35812.81,35870.00,35800.00,35867.66,613.847520,1651908239999,2.198320e+07,7098,179.258800,6.422060e+06,2022-05-07 07:09:00,1.0
1651908240000,35867.65,35912.00,35826.36,35902.74,330.432300,1651909139999,1.185255e+07,5798,194.712580,6.983194e+06,2022-05-07 07:24:00,1.0
1651909140000,35902.75,35956.51,35880.47,35951.69,368.392130,1651910039999,1.323538e+07,7430,228.147900,8.196411e+06,2022-05-07 07:39:00,1.0

In [18]:
# time = 15 min
from pathlib import Path 
filepath = Path('.\\data\\binance-BTCUSDT-15m.csv')
filepath.parent.mkdir(parents=True, exist_ok=True) 
df3.to_csv(filepath)

In [19]:
# time = 60 min
filepath = Path('.\\data\\binance-BTCUSDT-60m.csv')
filepath.parent.mkdir(parents=True, exist_ok=True) 
df4.to_csv(filepath)